.active-list-item {
  background: white !important; /* Note: You could also use a custom theme */
  color: #ffad77 !important;
}

.SideNavigationList {
  //display: flex;
  align-items: center;
  justify-content: center;
  background:dimgray;
  padding-top:0px;
}

.SideNavigationTarget
{
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
}

:host /deep/ .mat-list-item-content {
  padding: 10!important;
}

