<mat-nav-list class="SideNavigationList">
  <a mat-list-item routerLink="/progress" routerLinkActive="active-list-item" class="SideNavigationTarget">
    <mat-icon matListIcon>timeline</mat-icon>
  </a>
  <a mat-list-item routerLink="/runners" routerLinkActive="active-list-item" class="SideNavigationTarget">
    <mat-icon matListIcon>directions_run</mat-icon>
  </a>
  <a mat-list-item routerLink="/exchanges" routerLinkActive="active-list-item" class="SideNavigationTarget">
    <mat-icon matListIcon>location_on</mat-icon>
  </a>
  <a mat-list-item routerLink="/leg" routerLinkActive="active-list-item" class="SideNavigationTarget">
    <mat-icon matListIcon>trending_up</mat-icon>
  </a>
</mat-nav-list>